<a href="https://colab.research.google.com/github/SBGuillermo/TFM-AnalisisComercio/blob/main/Notebooks/2_Analisis_cualitativo_datset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%pylab inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Populating the interactive namespace from numpy and matplotlib

In [20]:
!wget https://raw.githubusercontent.com/SBGuillermo/TFM-AnalisisComercio/main/DataSet/DataClean/Table1.csv

--2021-07-05 16:09:54--  https://raw.githubusercontent.com/SBGuillermo/TFM-AnalisisComercio/main/DataSet/DataClean/Table1.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 17889332 (17M) [text/plain]
Saving to: ‘Table1.csv’

Table1.csv          100%[===================>]  17.06M  --.-KB/s    in 0.1s

2021-07-05 16:09:54 (154 MB/s) - ‘Table1.csv’ saved [17889332/17889332]

In [21]:
!wget https://raw.githubusercontent.com/SBGuillermo/TFM-AnalisisComercio/main/DataSet/DataClean/Table2.csv

--2021-07-05 16:10:10--  https://raw.githubusercontent.com/SBGuillermo/TFM-AnalisisComercio/main/DataSet/DataClean/Table2.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 17784301 (17M) [text/plain]
Saving to: ‘Table2.csv’

Table2.csv          100%[===================>]  16.96M  76.6MB/s    in 0.2s

2021-07-05 16:10:10 (76.6 MB/s) - ‘Table2.csv’ saved [17784301/17784301]

In [23]:
df1 = pd.read_csv('/content/Table1.csv')
df1

        Unnamed: 0  Unnamed: 0.1  ...         Country PrecioTotal
0                0             0  ...  United Kingdom       15.30
1                1             1  ...  United Kingdom       20.34
2                2             2  ...  United Kingdom       22.00
3                3             3  ...  United Kingdom       20.34
4                4             4  ...  United Kingdom       20.34
...            ...           ...  ...             ...         ...
199995      199995        285947  ...  United Kingdom        1.17
199996      199996        285948  ...  United Kingdom       12.75
199997      199997        285949  ...  United Kingdom        4.35
199998      199998        285950  ...  United Kingdom        4.35
199999      199999        285951  ...  United Kingdom        4.95

[200000 rows x 11 columns]

In [24]:
df2 = pd.read_csv('/content/Table2.csv')
df2

        Unnamed: 0  Unnamed: 0.1  ...         Country PrecioTotal
0           200000        285952  ...  United Kingdom        4.35
1           200001        285953  ...  United Kingdom        0.79
2           200002        285954  ...  United Kingdom       12.60
3           200003        285955  ...  United Kingdom        3.75
4           200004        285956  ...  United Kingdom       11.90
...            ...           ...  ...             ...         ...
197919      397919        541904  ...          France       10.20
197920      397920        541905  ...          France       12.60
197921      397921        541906  ...          France       16.60
197922      397922        541907  ...          France       16.60
197923      397923        541908  ...          France       14.85

[197924 rows x 11 columns]

In [36]:
df = pd.concat([df1,df2], axis=0)
df

        Unnamed: 0  Unnamed: 0.1  ...         Country PrecioTotal
0                0             0  ...  United Kingdom       15.30
1                1             1  ...  United Kingdom       20.34
2                2             2  ...  United Kingdom       22.00
3                3             3  ...  United Kingdom       20.34
4                4             4  ...  United Kingdom       20.34
...            ...           ...  ...             ...         ...
197919      397919        541904  ...          France       10.20
197920      397920        541905  ...          France       12.60
197921      397921        541906  ...          France       16.60
197922      397922        541907  ...          France       16.60
197923      397923        541908  ...          France       14.85

[397924 rows x 11 columns]

In [37]:
df = df.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1)
df

        InvoiceNo StockCode  ...         Country  PrecioTotal
0          536365    85123A  ...  United Kingdom        15.30
1          536365     71053  ...  United Kingdom        20.34
2          536365    84406B  ...  United Kingdom        22.00
3          536365    84029G  ...  United Kingdom        20.34
4          536365    84029E  ...  United Kingdom        20.34
...           ...       ...  ...             ...          ...
197919     581587     22613  ...          France        10.20
197920     581587     22899  ...          France        12.60
197921     581587     23254  ...          France        16.60
197922     581587     23255  ...          France        16.60
197923     581587     22138  ...          France        14.85

[397924 rows x 9 columns]