<a href="https://colab.research.google.com/github/SBGuillermo/TFM-AnalisisComercio/blob/main/Notebooks/3_Analisis_cesta_compra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%pylab inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

Populating the interactive namespace from numpy and matplotlib

In [2]:
!wget https://raw.githubusercontent.com/SBGuillermo/TFM-AnalisisComercio/main/DataSet/DataClean/Table1.csv

--2021-07-05 16:23:35--  https://raw.githubusercontent.com/SBGuillermo/TFM-AnalisisComercio/main/DataSet/DataClean/Table1.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 17889332 (17M) [text/plain]
Saving to: ‘Table1.csv.1’

Table1.csv.1        100%[===================>]  17.06M  27.6MB/s    in 0.6s

2021-07-05 16:23:35 (27.6 MB/s) - ‘Table1.csv.1’ saved [17889332/17889332]

In [3]:
!wget https://raw.githubusercontent.com/SBGuillermo/TFM-AnalisisComercio/main/DataSet/DataClean/Table2.csv

--2021-07-05 16:23:36--  https://raw.githubusercontent.com/SBGuillermo/TFM-AnalisisComercio/main/DataSet/DataClean/Table2.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 17784301 (17M) [text/plain]
Saving to: ‘Table2.csv.1’

Table2.csv.1        100%[===================>]  16.96M  27.6MB/s    in 0.6s

2021-07-05 16:23:36 (27.6 MB/s) - ‘Table2.csv.1’ saved [17784301/17784301]

In [4]:
df1 = pd.read_csv('/content/Table1.csv')
df1

        Unnamed: 0  Unnamed: 0.1  ...         Country PrecioTotal
0                0             0  ...  United Kingdom       15.30
1                1             1  ...  United Kingdom       20.34
2                2             2  ...  United Kingdom       22.00
3                3             3  ...  United Kingdom       20.34
4                4             4  ...  United Kingdom       20.34
...            ...           ...  ...             ...         ...
199995      199995        285947  ...  United Kingdom        1.17
199996      199996        285948  ...  United Kingdom       12.75
199997      199997        285949  ...  United Kingdom        4.35
199998      199998        285950  ...  United Kingdom        4.35
199999      199999        285951  ...  United Kingdom        4.95

[200000 rows x 11 columns]

In [5]:
df2 = pd.read_csv('/content/Table2.csv')
df2

        Unnamed: 0  Unnamed: 0.1  ...         Country PrecioTotal
0           200000        285952  ...  United Kingdom        4.35
1           200001        285953  ...  United Kingdom        0.79
2           200002        285954  ...  United Kingdom       12.60
3           200003        285955  ...  United Kingdom        3.75
4           200004        285956  ...  United Kingdom       11.90
...            ...           ...  ...             ...         ...
197919      397919        541904  ...          France       10.20
197920      397920        541905  ...          France       12.60
197921      397921        541906  ...          France       16.60
197922      397922        541907  ...          France       16.60
197923      397923        541908  ...          France       14.85

[197924 rows x 11 columns]

In [6]:
df = pd.concat([df1,df2], axis=0)
df

        Unnamed: 0  Unnamed: 0.1  ...         Country PrecioTotal
0                0             0  ...  United Kingdom       15.30
1                1             1  ...  United Kingdom       20.34
2                2             2  ...  United Kingdom       22.00
3                3             3  ...  United Kingdom       20.34
4                4             4  ...  United Kingdom       20.34
...            ...           ...  ...             ...         ...
197919      397919        541904  ...          France       10.20
197920      397920        541905  ...          France       12.60
197921      397921        541906  ...          France       16.60
197922      397922        541907  ...          France       16.60
197923      397923        541908  ...          France       14.85

[397924 rows x 11 columns]

In [7]:
df = df.drop(['Unnamed: 0','Unnamed: 0.1'], axis=1)

In [8]:
encoder = OneHotEncoder()

encoded = encoder.fit_transform(df['Description'].dropna().values.reshape(-1, 1))

encoded.todense()

matrix([[0., 0., 0., ..., 1., 0., 0.],
        [0., 0., 0., ..., 0., 0., 1.],
        [0., 0., 0., ..., 0., 0., 1.],
        ...,
        [0., 0., 0., ..., 0., 0., 1.],
        [0., 0., 0., ..., 0., 0., 1.],
        [0., 0., 0., ..., 0., 0., 1.]])

In [9]:
encoder.categories_

[array(['ALARM CLOCK BAKELIKE RED', 'ASSORTED COLOUR BIRD ORNAMENT',
        'HEART OF WICKER SMALL', 'JAM MAKING SET WITH JARS',
        'JUMBO BAG PINK POLKADOT', 'JUMBO BAG RED RETROSPOT',
        'LUNCH BAG  BLACK SKULL.', 'LUNCH BAG APPLE DESIGN',
        'LUNCH BAG CARS BLUE', 'LUNCH BAG PINK POLKADOT',
        'LUNCH BAG RED RETROSPOT', 'LUNCH BAG SPACEBOY DESIGN',
        'LUNCH BAG SUKI DESIGN', 'NATURAL SLATE HEART CHALKBOARD',
        'PACK OF 72 RETROSPOT CAKE CASES',
        "PAPER CHAIN KIT 50'S CHRISTMAS", 'PARTY BUNTING', 'POSTAGE',
        'REGENCY CAKESTAND 3 TIER', 'REX CASH+CARRY JUMBO SHOPPER',
        'SET OF 3 CAKE TINS PANTRY DESIGN', 'SET OF 4 PANTRY JELLY MOULDS',
        'SPOTTY BUNTING', 'WHITE HANGING HEART T-LIGHT HOLDER',
        'WOODEN PICTURE FRAME WHITE FINISH', 'other'], dtype=object)]

In [10]:
result_encoding = pd.DataFrame(encoded.todense(), index = df['Description'].dropna().index, columns = encoder.categories_)

In [11]:
result_encoding

       ALARM CLOCK BAKELIKE RED  ... other
0                           0.0  ...   0.0
1                           0.0  ...   1.0
2                           0.0  ...   1.0
3                           0.0  ...   1.0
4                           0.0  ...   1.0
...                         ...  ...   ...
197919                      0.0  ...   1.0
197920                      0.0  ...   1.0
197921                      0.0  ...   1.0
197922                      0.0  ...   1.0
197923                      0.0  ...   1.0

[397924 rows x 26 columns]

In [12]:
result_encoding = result_encoding.drop(['other'], axis=1)

In [25]:
result_encoding.columns

MultiIndex([(          'ALARM CLOCK BAKELIKE RED',),
            (     'ASSORTED COLOUR BIRD ORNAMENT',),
            (             'HEART OF WICKER SMALL',),
            (          'JAM MAKING SET WITH JARS',),
            (           'JUMBO BAG PINK POLKADOT',),
            (           'JUMBO BAG RED RETROSPOT',),
            (           'LUNCH BAG  BLACK SKULL.',),
            (            'LUNCH BAG APPLE DESIGN',),
            (               'LUNCH BAG CARS BLUE',),
            (           'LUNCH BAG PINK POLKADOT',),
            (           'LUNCH BAG RED RETROSPOT',),
            (         'LUNCH BAG SPACEBOY DESIGN',),
            (             'LUNCH BAG SUKI DESIGN',),
            (    'NATURAL SLATE HEART CHALKBOARD',),
            (   'PACK OF 72 RETROSPOT CAKE CASES',),
            (    'PAPER CHAIN KIT 50'S CHRISTMAS',),
            (                     'PARTY BUNTING',),
            (                           'POSTAGE',),
            (          'REGENCY CAKESTAND 3 TIER',),
            (      'REX CASH+CARRY JUMBO SHOPPER',),
            (  'SET OF 3 CAKE TINS PANTRY DESIGN',),
            (      'SET OF 4 PANTRY JELLY MOULDS',),
            (                    'SPOTTY BUNTING',),
            ('WHITE HANGING HEART T-LIGHT HOLDER',),
            ( 'WOODEN PICTURE FRAME WHITE FINISH',)],
           )

In [53]:
result_encoding.columns = ['WHITE HANGING HEART T-LIGHT HOLDER', 'REGENCY CAKESTAND 3 TIER',
       'JUMBO BAG RED RETROSPOT', 'ASSORTED COLOUR BIRD ORNAMENT',
       'PARTY BUNTING', 'LUNCH BAG RED RETROSPOT',
       'SET OF 3 CAKE TINS PANTRY DESIGN', 'LUNCH BAG  BLACK SKULL.',
       'JAM MAKING SET PRINTED', 'PACK OF 72 RETROSPOT CAKE CASES',
       "PAPER CHAIN KIT 50'S CHRISTMAS", 'SPOTTY BUNTING',
       'LUNCH BAG SPACEBOY DESIGN', 'LUNCH BAG CARS BLUE',
       'HEART OF WICKER SMALL', 'NATURAL SLATE HEART CHALKBOARD',
       'LUNCH BAG PINK POLKADOT', 'REX CASH+CARRY JUMBO SHOPPER',
       'LUNCH BAG SUKI DESIGN', 'ALARM CLOCK BAKELIKE RED',
       'LUNCH BAG APPLE DESIGN', 'SET OF 4 PANTRY JELLY MOULDS',
       'JUMBO BAG PINK POLKADOT', 'JAM MAKING SET WITH JARS',
       'WOODEN PICTURE FRAME WHITE FINISH']

In [54]:
partial_final_table = df.drop(['Description','Quantity','UnitPrice','StockCode'], axis=1)
partial_final_table

        InvoiceNo          InvoiceDate  CustomerID         Country  PrecioTotal
0          536365  2010-12-01 08:26:00     17850.0  United Kingdom        15.30
1          536365  2010-12-01 08:26:00     17850.0  United Kingdom        20.34
2          536365  2010-12-01 08:26:00     17850.0  United Kingdom        22.00
3          536365  2010-12-01 08:26:00     17850.0  United Kingdom        20.34
4          536365  2010-12-01 08:26:00     17850.0  United Kingdom        20.34
...           ...                  ...         ...             ...          ...
197919     581587  2011-12-09 12:50:00     12680.0          France        10.20
197920     581587  2011-12-09 12:50:00     12680.0          France        12.60
197921     581587  2011-12-09 12:50:00     12680.0          France        16.60
197922     581587  2011-12-09 12:50:00     12680.0          France        16.60
197923     581587  2011-12-09 12:50:00     12680.0          France        14.85

[397924 rows x 5 columns]

In [55]:
total_final_table = pd.concat([partial_final_table, result_encoding], axis=1)
total_final_table

        InvoiceNo  ... WOODEN PICTURE FRAME WHITE FINISH
0          536365  ...                               0.0
1          536365  ...                               0.0
2          536365  ...                               0.0
3          536365  ...                               0.0
4          536365  ...                               0.0
...           ...  ...                               ...
197919     581587  ...                               0.0
197920     581587  ...                               0.0
197921     581587  ...                               0.0
197922     581587  ...                               0.0
197923     581587  ...                               0.0

[397924 rows x 30 columns]

In [56]:
bypurchase_tabel = total_final_table.drop(['InvoiceDate','Country','CustomerID','PrecioTotal'], axis=1)
bypurchase_tabel = bypurchase_tabel.groupby(['InvoiceNo']).sum()
bypurchase_tabel

           WHITE HANGING HEART T-LIGHT HOLDER  ...  WOODEN PICTURE FRAME WHITE FINISH
InvoiceNo                                      ...
536365                                    0.0  ...                                0.0
536366                                    0.0  ...                                0.0
536367                                    0.0  ...                                0.0
536368                                    0.0  ...                                0.0
536369                                    0.0  ...                                0.0
...                                       ...  ...                                ...
581583                                    0.0  ...                                0.0
581584                                    0.0  ...                                0.0
581585                                    1.0  ...                                0.0
581586                                    0.0  ...                                0.0
581587                                    1.0  ...                                0.0

[18536 rows x 25 columns]

In [57]:
bypurchase_tabel.insert(0, 'InvoiceNo', bypurchase_tabel.index)
bypurchase_tabel

           InvoiceNo  ...  WOODEN PICTURE FRAME WHITE FINISH
InvoiceNo             ...
536365        536365  ...                                0.0
536366        536366  ...                                0.0
536367        536367  ...                                0.0
536368        536368  ...                                0.0
536369        536369  ...                                0.0
...              ...  ...                                ...
581583        581583  ...                                0.0
581584        581584  ...                                0.0
581585        581585  ...                                0.0
581586        581586  ...                                0.0
581587        581587  ...                                0.0

[18536 rows x 26 columns]